@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Noto+Serif:wght@700&family=Ubuntu:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', cursive;
}
:root{
    --clr: #222327;
}
p{
    margin-bottom: 15px;
    font-family:  'Comfortaa', cursive;
    font-size: 1.5rem;
    line-height: 20px;
    color: black;
}
h1.title{
    margin-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
    color: tomato;
    font-size: 40px;
}
.btn a{
    display: inline-block;
    font-size: 12px;
    padding: 10px 30px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid black;
    margin-top: 25px;
    color: #000;
}
.btn a:hover{
    background: brown;
    color: whitesmoke;
    border: none;
}

.main_container{
    position: relative;
}

.navbar{
    padding: 0 20%;
    width: 100%;
    height: 65px;
    display: flex;
    position: absolute;
    background: white;
    margin-bottom: 80px;
}

.logo img{
 
    width: 120px;
    
}

.navigation{
    padding: 0 60%;
    position: relative;
    width: 400px;
    height: 70px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 80px;
}
.navigation ul{
    display: flex;
    width: 350px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;

}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #002D62;
}
.navigation ul li:hover a .icon{
    transform: translateY(-20px);

}
.navigation ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: bold;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);

}

.navigation ul li:hover a .text{
    opacity: 1;
    transform: translateY(10px);
    color: tomato;


}


/* Banner image*/
.banner{
    background: white;
    width: 100%;
    display: flex;
    padding: 0 20%;
}

.banner_content{
    display: flex;
    margin-top: 100px;
    color: tomato;
    font-size: 1.3rem;
}

.ban_text{
    margin-top: 100px;
}

.banner_content h1{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
}


.banner_content h1 span{
    font-family: 'Ubuntu', sans-serif;
   
    color: #002D62;
    font-size:45px;
    font-weight: bold;
}
.banner_content p{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    font-weight: bold;
    font-size: 17px;
    line-height: 40px;
    color: black;
}
.ban-btn a{
    display: inline-block;
    font-size: 12px;
    padding: 10px 30px;
    font-weight: bold;
    background-color: brown;
    margin-top: 25px;
    color: #fff;
}
.ban-btn a:hover{
    background: tomato;
    color: whitesmoke;
    border: none;
}
.ban_img{
    width: 15rem;
    height: auto;
    
}
.container1{
    padding: 0 20%;
}
.container1_content{
    display: flex;
    margin-top: 200px;
}
.container1.text{
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
    font-size: 10px;
}
.con_head{
    font-family: 'Ubuntu', sans-serif;
    color: tomato;
    font-size: 40px;
}
.con_body{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.con_img{
    width: 50%;
    height: auto;
    padding-bottom: 20px;
    padding-right: 30px;
    border-radius: 50%;
    
}
.con_head2{
    font-family: 'Ubuntu', sans-serif;
    color: #002D62;
    font-size: 40px;
}
.con_img2{
    width: 30%;
    height: auto;
    padding-bottom: 20px;
    padding-right: 30px;
    border-radius: 50%;
    
}



/* about us */

.about{
    padding: 5% 20%;
    margin: 30px auto;
    background-color: rgb(251,206,177);
}
.about h1{
    color: #222327;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}
.about p{
    color: black;
  
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}

/* services */



/* our team */
.Our_Team{
    background-color: white;
    padding: 5% 10%;
    text-align: center;
}
.Our_Team .cards_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.Our_Team .cards_wrap .card_item{
    padding: 15px 25px;
    width: 33%;
    
}
.Our_Team .cards_wrap .card_in{
    background: transparent;
    box-shadow: none;
}
.Our_Team .card_in img{
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}
.card-details h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: tomato;
    font-size: 18px;
}

.card-details p{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;

}

/* contact us */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(img3.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    color: white;
    text-align: center;
}
.contact .content h1{
    font-size: 36px;
    font-weight: 500;
    color: white;
}
 .contact .containerbox{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}
.containerbox .contact_info{
    width: 50%;
    display: flex;
    flex-direction: column;


}

.containerbox .contact_info .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.containerbox .contact_info .box .icon{
    width: 55px;
    height: 55px;
    font-size: 25px;
    font-weight: bold;
    background: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.containerbox .contact_info .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    color: white;
    font-weight: bold;
}
.containerbox .contact_info .box .text a{
    margin: 10px;
    margin-left: 0px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.Contact_form{
    width: 40%;
    padding: 40px;
    background: whitesmoke;
}
.Contact_form h2{
    font-size: 25px;
    color: #333;
    font-weight: bold;
}
.Contact_form .input_box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.Contact_form .input_box input,
.Contact_form .input_box textarea{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background: whitesmoke;
}
.Contact_form .input_box span{
    position: absolute;
    left: 0%;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 12px;
    font-weight: bold;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.Contact_form .input_box input:focus ~ span,
.Contact_form .input_box input:valid ~ span,
.Contact_form .input_box textarea:focus ~ span,
.Contact_form .input_box textarea:focus ~ span
{
    color: tomato;
    font-size: 12px;
    transform: translateY(-20px);
}

.Contact_form .input_box input[type="submit"]{
    width: 100px;
    background: tomato;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;



}
/*footer*/
footer{
    background: white;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;

}

.footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content img{
    width: 200px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #002D62;
    font-size: 1.5rem;
    transition: color .4s ease;
}
.socials a:hover{
    color: tomato;
    
}
.footer-bottom{
   padding: 20px 0;
   text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: bold;
    color: blue;
}


@media screen and (max-width:991px) {
    .navbar{
        height: auto;
        flex-direction: column;
    }
    .cards_wrap .card_item{
        width: 33%;
    }
    .contact{
        padding: 50px;
    }
    .containerbox{
        flex-direction: column;
    }
    .containerbox .contact_info,
    .containerbox .Contact_form
    {
        margin-bottom: 40px;
        width: 100%;
    }
    
}

@media screen and (max-width:768px) {
    .navbar{
        height: auto;
        flex-direction: column;
    }
    .navigation{
        margin: 0 20px;
    }
    .cards_wrap .card_item{
        width: 50%;
    }
    .card_header{
        font-size: 16px;
        height: 60px;
    }
    .cards_wrap .card_inner .card-details{
        font-size: 17px;

    }
    .contact{
        padding: 50px;
    }
    .containerbox{
        flex-direction: column;
    }
    .containerbox .contact_info,
    .containerbox .Contact_form
    {
        margin-bottom: 40px;
        width: 100%;
    }
}

@media screen and (max-width:568px) {
    .navbar{
        width: 100%;
        height: auto;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        background: white;
    }
    
   
    .logo img{
 
        width: 120px;
        align-items: center;
        
    }
    .navigation{
        position: relative;
        width: 400px;
        height: 70px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: 0 20px;
    }
    .banner{
        padding: 0 5%;
    }

    .banner_content{
        flex-direction: column;
        margin-top: 20px;
        
    }
    .ban_img{
        display: none;
    }
    .ban-btn{
        padding-bottom: 30px;
    }
    .container1{
        padding: 0 5%;
    }
    .container1_content{
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    .container1_content .con_img{
        width: 100%;
        padding: 0%;
        padding-bottom: 40px;
        height: auto;
        margin-top: 5px;
        border-radius: 0%;

    }
    .con_head{
        text-align: center;
        font-size: 30px;
    }
    .con_body{
    }
    .con_head2{
        text-align: center;
        font-size: 30px;
    }

    .about{
        padding: 30px 5%;
    }
    .about .title{
        text-align: center;
        margin-bottom: 30px;
    }
    .about p{
    }
    .card_header{
        font-size: 16px;
    }
    
    .Our_Team .cards_wrap .card_item{
        display: block;
        width: 100%;
    }
  
    .cards_wrap .card_inner .card-details{
        font-size: 20px;

    }
    .cards_wrap .card_in{
        display: block;
        width: 100%;
    }
    .contact{
        padding: 50px;
    }
    .containerbox{
        display: flex;
        flex-direction: column;
    }
    .containerbox .contact_info,
    .containerbox .Contact_form
    {
        margin-bottom: 40px;
        width: 100%;
    }
    
}


.sticky{
    position: fixed;
    top: 0;
    left: 0;
}